<footer>
    <div class="social">
    <li>
      <a target="_blank" href="https://twitter.com/brownmanwonders"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a target="_blank" href="https://linkedin.com/in/zayyanfaizal/"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/zfaizal2"><i class="fa fa-github"></i></a>
    </li>
    <li>
      <a target="_blank" href="https://medium.com/@zayyanfaizal"><i class="fa fa-medium"></i></a>
    </li>
    <li>
      <a target="_blank" href="http://youtube.com/zayfai"><i class="fa fa-youtube"></i></a>
    </li>
    </div>
</footer>